body {
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
  // Primary Color :  #5e95ff

  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }
}

/* Variable Define */
:root {
  --primary-color: #367bff;
  --secondary-color: #5e95ff;
}

/* Navbar */
.navbar-light {
  .navbar-nav {
    .nav-item {
      margin: 0 35px 0 35px;
    }
    .nav-link {
      &:hover {
        font-weight: 500;
        color: var(--primary-color) !important;
      }
    }
  }
}

.navbar-light {
  .text-end {
    .btn-login {
      font-weight: bold;
      color: var(--primary-color);
      border-color: transparent;
    }

    .btn-join {
      font-weight: bold;
      color: var(--primary-color);
      border-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }
}

/* Sorting & Filter */
.sort-filter {
  margin-top: 20px;

  .pilihan {
    .navbar {
      width: 150px;
    }
    .btn-sort {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }

    .dropdown-menu {
      margin-top: 10px;
    }

    .btn-filter {
      max-height: 40px;
      margin-top: 3px;
      margin-left: 30px;

      .btn-filter {
        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

.show {
  display: block;
}

/* Shop */
.patvice-shop {
  .card {
    border: none;

    .thumbnail {
      padding: 0 15px 0 15px;
      border-radius: 9%;
      margin-top: 15px;
    }
    .card-body {
      .line {
        margin-bottom: 5px;
        .profile {
          max-width: 40px;
        }

        p {
          margin-left: 8px;
          margin-top: 4px;
          font-size: 20px;
        }

        .wishlist {
          margin-left: 5px;
          max-width: 40px;
        }
      }

      .rating {
        font-size: 18px;
        margin-bottom: -5px;

        img {
          max-width: 25px;
          margin-right: 8px;
        }

        .star {
          float: left;
        }
      }

      .title {
        margin-bottom: 25px;

        a,
        a:hover,
        a:focus,
        a:active {
          text-decoration: none;
          color: inherit;
          font-size: 20px;
        }
      }

      .harga {
        p {
          color: rgb(170, 170, 170);
          margin-bottom: 2px;
          font-weight: 600;
        }

        h4 {
          font-weight: bolder;
        }
      }
    }
  }
}

/* Genre */
.genre {
  a,
  a:focus,
  a:active {
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: 400;
  }

  a:hover {
    font-weight: 500;
    color: var(--primary-color);
  }
}

/* Number Page */
.number {
  margin-top: 60px;

  .btn {
    font-weight: bold;

    &:hover {
      background-color: #5e95ff;
    }
  }
  .next {
    img {
      max-width: 30px;
    }
  }
}

/* User Shop */
.user_shop {
  margin-top: 30px;

  .link {
    a {
      font-size: 15px;
      color: var(--primary-color);
      font-weight: 600;
    }
  }

  .left-content {
    padding-right: 50px;
    h5 {
      font-weight: bold;
      font-size: 25px;
    }
    .title-thumbnail {
      font-weight: bold;
      font-size: 30px;
    }
    .carousel {
      max-width: 90%;
    }

    /* Mengenai penjual */
    .profile {
      max-width: 80%;
      margin-top: 60px;

      .content {
        margin-top: 15px;

        .pp {
          min-width: 300px;
          margin-right: -180px;

          img {
            width: 130px;
          }
        }

        .desc {
          margin-left: 30px;
          .name {
            font-weight: 500;
            font-size: 20px;
          }

          .rating {
            margin-top: -5px;

            img {
              float: left;
              max-width: 25px;
            }
            p {
              padding-top: 2px;
              padding-left: 30px;
            }
          }

          .visit {
            border-color: var(--primary-color);
            color: var(--primary-color);
            font-weight: 500;
            margin-top: 10px;

            &:hover {
              color: #fff;
              font-weight: 500;
              background-color: var(--primary-color);
            }
          }
        }

        .letak {
          margin-top: 50px;
          padding: 0 20px;
          .negara {
            img {
              width: 60px;
              float: left;
            }

            p {
              padding-top: 18px;
              margin-left: 80px;
            }
          }

          .kapan {
            .gabung {
              margin-bottom: 5px;
            }

            .tanggal {
              font-weight: bold;
            }
          }
        }

        .summary {
          padding: 30px;
        }
      }
    }
  }

  .right-content {
    height: 100%;

    .title-packet {
      margin-left: -12px;
      margin-right: -12px;

      a {
        font-weight: 600;
        color: black !important;

        &:hover {
          color: var(--primary-color) !important;
          font-weight: 600;
          border-bottom: 2px solid var(--primary-color);
        }
      }

      a.active {
        color: var(--primary-color) !important;
        font-weight: 600;
      }
    }

    .tab-content {
      margin-left: -12px;
      margin-right: -12px;

      .title {
        font-weight: bold;
        font-size: 25px;
      }

      .desc {
        font-size: 18px;
      }

      .list-title {
        font-weight: bold;
      }

      .list {
        margin-top: -10px;
        margin-left: -12px;

        .list-item {
          margin-top: 10px;
        }
      }

      .time {
        img {
          max-height: 30px;
        }

        .pengerjaan {
          margin-top: 3px;
          margin-left: 5px;
        }
      }

      .title-harga {
        font-weight: 600;
        opacity: 80%;
      }

      .harga {
        margin-top: -20px;
        font-weight: bold;
        font-size: 25px;
      }

      .pesan {
        color: white;
        background-color: var(--primary-color);
        font-weight: 600;

        &:hover {
          background-color: #1656cc;
        }
      }

      .hubungi {
        color: var(--primary-color);
        border-color: var(--primary-color);
        border-width: 1px;
        font-weight: 600;

        &:hover {
          color: white;
          background-color: var(--primary-color);
          border-width: 1px;
          font-weight: 600;
        }
      }
    }
  }
}

/* Footer */
footer {
  margin-top: 30px;

  .summary {
    margin-top: -20px;
    img {
      max-width: 100px;
    }
    .desc {
      font-weight: 500;
      max-width: 250px;
    }

    .sosmed {
      max-width: 180px;

      img {
        max-width: 32px;
      }
    }
  }

  .kategori {
    h5 {
      color: var(--primary-color);
      font-weight: bold;
      margin-bottom: 20px;
    }

    a,
    a:focus,
    a:active {
      margin-bottom: 20px;
      text-decoration: none;
      color: inherit;
      font-size: 16px;
      font-weight: 400;
    }

    a:hover {
      font-weight: 500;
    }
  }

  .under {
    padding-top: 15px;
    font-weight: 600;
    color: var(--primary-color);
  }
}
