body {
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  // Primary Color :  #5e95ff
}

/* Variable Define */
:root {
  --primary-color: #5e95ff;
}

// .container {
//   min-width: 80px;
// }

.navbar-light {
  .navbar-nav {
    .nav-item {
      margin: 0 35px 0 35px;
    }
    .nav-link {
      &:hover {
        font-weight: 500;
        color: var(--primary-color) !important;
      }
    }
  }
}

.navbar-light {
  .text-end {
    .btn-login {
      font-weight: bold;
      color: var(--primary-color);
      border-color: transparent;
    }

    .btn-join {
      font-weight: bold;
      color: var(--primary-color);
      border-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }
}

.sort-filter {
  margin-top: 20px;

  .pilihan {
    .navbar {
      width: 150px;
    }
    .btn-sort {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }

    .dropdown-menu {
      margin-top: 10px;
    }

    .btn-filter {
      max-height: 40px;
      margin-top: 3px;
      margin-left: 30px;

      .btn-filter {
        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}

.patvice-shop {
  .card {
    border: none;

    .thumbnail {
      padding: 15px 15px 0 15px;
    }
    .card-body {
      .line {
        margin-bottom: 5px;
        .profile {
          max-width: 40px;
        }

        p {
          margin-left: 8px;
          margin-top: 4px;
          font-size: 20px;
        }

        .wishlist {
          margin-left: 5px;
          max-width: 40px;
        }
      }

      .rating {
        font-size: 18px;
        margin-bottom: -5px;

        img {
          max-width: 25px;
          margin-right: 8px;
        }

        .star {
          float: left;
        }
      }

      .title {
        margin-bottom: 25px;

        a,
        a:hover,
        a:focus,
        a:active {
          text-decoration: none;
          color: inherit;
          font-size: 20px;
        }
      }

      .harga {
        p {
          color: rgb(170, 170, 170);
          margin-bottom: 2px;
          font-weight: 600;
        }

        h4 {
          font-weight: bolder;
        }
      }
    }
  }
}

.number {
  margin-top: 60px;

  .btn {
    font-weight: bold;

    &:hover {
      background-color: #5e95ff;
    }
  }
  .next {
    img {
      max-width: 30px;
    }
  }
}

footer {
  margin-top: 30px;

  .summary {
    margin-top: -30px;
    img {
      max-width: 100px;
    }
    .desc {
      font-weight: 500;
      max-width: 250px;
    }

    .sosmed {
      max-width: 180px;

      img {
        max-width: 32px;
      }
    }
  }

  .kategori {
    h5 {
      color: var(--primary-color);
      font-weight: bold;
      margin-bottom: 20px;
    }

    a,
    a:focus,
    a:active {
      margin-bottom: 5px;
      text-decoration: none;
      color: inherit;
      font-size: 16px;
      font-weight: 400;
    }

    a:hover {
      font-weight: 500;
    }
  }

  .under {
    padding-top: 15px;
    color: var(--primary-color);
  }
}
