body {
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
}

body a,
body a:hover,
body a:focus,
body a:active {
  text-decoration: none;
  color: inherit;
}

/* Variable Define */
:root {
  --primary-color: #367bff;
  --secondary-color: #5e95ff;
}

/* Navbar */
.navbar-light .navbar-nav .nav-item {
  margin: 0 35px 0 35px;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: var(--primary-color) !important;
}

.navbar-light .text-end .btn-login {
  font-weight: bold;
  color: var(--primary-color);
  border-color: transparent;
}

.navbar-light .text-end .btn-join {
  font-weight: bold;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.navbar-light .text-end .btn-join:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Sorting & Filter */
.sort-filter {
  margin-top: 20px;
}

.sort-filter .pilihan .navbar {
  width: 150px;
}

.sort-filter .pilihan .btn-sort {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.sort-filter .pilihan .dropdown-menu {
  margin-top: 10px;
}

.sort-filter .pilihan .btn-filter {
  max-height: 40px;
  margin-top: 3px;
  margin-left: 30px;
}

.sort-filter .pilihan .btn-filter .btn-filter:hover {
  font-weight: 500;
}

/* Shop */
.patvice-shop .card {
  border: none;
}

.patvice-shop .card .thumbnail {
  padding: 15px 15px 0 15px;
}

.patvice-shop .card .card-body .line {
  margin-bottom: 5px;
}

.patvice-shop .card .card-body .line .profile {
  max-width: 40px;
}

.patvice-shop .card .card-body .line p {
  margin-left: 8px;
  margin-top: 4px;
  font-size: 20px;
}

.patvice-shop .card .card-body .line .wishlist {
  margin-left: 5px;
  max-width: 40px;
}

.patvice-shop .card .card-body .rating {
  font-size: 18px;
  margin-bottom: -5px;
}

.patvice-shop .card .card-body .rating img {
  max-width: 25px;
  margin-right: 8px;
}

.patvice-shop .card .card-body .rating .star {
  float: left;
}

.patvice-shop .card .card-body .title {
  margin-bottom: 25px;
}

.patvice-shop .card .card-body .title a,
.patvice-shop .card .card-body .title a:hover,
.patvice-shop .card .card-body .title a:focus,
.patvice-shop .card .card-body .title a:active {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.patvice-shop .card .card-body .harga p {
  color: #aaaaaa;
  margin-bottom: 2px;
  font-weight: 600;
}

.patvice-shop .card .card-body .harga h4 {
  font-weight: bolder;
}

/* Genre */
.genre a,
.genre a:focus,
.genre a:active {
  margin-bottom: 20px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
}

.genre a:hover {
  font-weight: 500;
  color: var(--primary-color);
}

/* Number Page */
.number {
  margin-top: 60px;
}

.number .btn {
  font-weight: bold;
}

.number .btn:hover {
  background-color: #5e95ff;
}

.number .next img {
  max-width: 30px;
}

/* User Shop */
.user_shop {
  margin-top: 30px;
}

.user_shop .link a {
  font-size: 15px;
  color: var(--primary-color);
  font-weight: 600;
}

.user_shop .left-content {
  padding-right: 50px;
  /* Mengenai penjual */
}

.user_shop .left-content h5 {
  font-weight: bold;
  font-size: 25px;
}

.user_shop .left-content .title-thumbnail {
  font-weight: bold;
  font-size: 30px;
}

.user_shop .left-content .carousel {
  max-width: 90%;
}

.user_shop .left-content .profile {
  max-width: 80%;
  margin-top: 60px;
}

.user_shop .left-content .profile .content {
  margin-top: 10px;
}

.user_shop .left-content .profile .content .pp {
  min-width: 300px;
  margin-right: -180px;
}

.user_shop .left-content .profile .content .pp img {
  width: 100px;
}

.user_shop .left-content .profile .content .desc .name {
  font-weight: 500;
  font-size: 20px;
}

.user_shop .left-content .profile .content .desc .rating {
  margin-top: -5px;
}

.user_shop .left-content .profile .content .desc .rating img {
  float: left;
  max-width: 25px;
}

.user_shop .left-content .profile .content .desc .rating p {
  padding-top: 2px;
  padding-left: 30px;
}

.user_shop .left-content .profile .content .desc .visit {
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-weight: 500;
  margin-top: 10px;
}

.user_shop .left-content .profile .content .desc .visit:hover {
  color: #fff;
  font-weight: 500;
  background-color: var(--primary-color);
}

.user_shop .right-content {
  height: 100%;
}

.user_shop .right-content .title-packet {
  margin-left: -12px;
  margin-right: -12px;
}

.user_shop .right-content .title-packet a {
  font-weight: 600;
}

.user_shop .right-content .title-packet a:hover {
  color: var(--primary-color);
}

.user_shop .right-content .title-packet a:active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.user_shop .right-content .title-packet a:visited {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.user_shop .right-content .tab-content {
  margin-left: -12px;
  margin-right: -12px;
}

.user_shop .right-content .tab-content .title {
  font-weight: bold;
  font-size: 25px;
}

.user_shop .right-content .tab-content .desc {
  font-size: 18px;
}

.user_shop .right-content .tab-content .list-title {
  font-weight: bold;
}

.user_shop .right-content .tab-content .list {
  margin-top: -10px;
  margin-left: -12px;
}

.user_shop .right-content .tab-content .list .list-item {
  margin-top: 10px;
}

.user_shop .right-content .tab-content .time img {
  max-height: 30px;
}

.user_shop .right-content .tab-content .time .pengerjaan {
  margin-top: 3px;
  margin-left: 5px;
}

.user_shop .right-content .tab-content .title-harga {
  font-weight: 600;
  opacity: 80%;
}

.user_shop .right-content .tab-content .harga {
  margin-top: -20px;
  font-weight: bold;
  font-size: 25px;
}

.user_shop .right-content .tab-content .pesan {
  color: white;
  background-color: var(--primary-color);
  font-weight: 600;
}

.user_shop .right-content .tab-content .pesan:hover {
  background-color: #1656cc;
}

.user_shop .right-content .tab-content .hubungi {
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-width: 1px;
  font-weight: 600;
}

.user_shop .right-content .tab-content .hubungi:hover {
  color: white;
  background-color: var(--primary-color);
  border-width: 1px;
  font-weight: 600;
}

/* Footer */
footer {
  margin-top: 30px;
}

footer .summary {
  margin-top: -20px;
}

footer .summary img {
  max-width: 100px;
}

footer .summary .desc {
  font-weight: 500;
  max-width: 250px;
}

footer .summary .sosmed {
  max-width: 180px;
}

footer .summary .sosmed img {
  max-width: 32px;
}

footer .kategori h5 {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 20px;
}

footer .kategori a,
footer .kategori a:focus,
footer .kategori a:active {
  margin-bottom: 20px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
}

footer .kategori a:hover {
  font-weight: 500;
}

footer .under {
  padding-top: 15px;
  font-weight: 600;
  color: var(--primary-color);
}
/*# sourceMappingURL=main.css.map */